services:
  db:
    image: postgres:17-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5

  web:
    build: .
    depends_on:
      db:
        condition: service_healthy
    # Shared Environment variables
    environment:
      # This never changes inside Docker: 'db' is always the hostname
      DATABASE_URL: postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
      # The secret key is needed for collectstatic in build, and runtime
      SECRET_KEY: ${SECRET_KEY}
      ALLOWED_HOSTS: "localhost,127.0.0.1,0.0.0.0"
    ports:
      # Both dev and prod expose port 8000
      # 127.0.0.1 to make sure IPv6 isn't enabled
      - "127.0.0.1:8000:8000"

volumes:
  postgres_data:
