services:
  web:
    build:
      context: .
      # In dev, we might want dev dependencies (pytest, factory-boy)
      # We can use a trick to install them on startup, or just rely on local venv logic.
      # For hybrid, we often skip installing dev deps inside docker to save build time,
      # UNLESS we plan to run tests inside docker.
    
    command: python manage.py runserver 0.0.0.0:8000
    
    volumes:
      # Mount code for Hot Reloading
      - .:/app
    
    environment:
      DJANGO_ENV: dev
      # Note: 'db' is the hostname inside Docker network
      DATABASE_URL: postgres://tasks_user:tasks_password@db:5432/task_manager
      DEBUG: "True"
